intelxdk.config.android.xml
intelxdk.config.crosswalk.xml
intelxdk.config.ios.xml
intelxdk.config.windows8.xml
intelxdk.config.additions.xml
plugins/org.apache.cordova.splashscreen/.fetch.json
plugins/org.apache.cordova.device/.fetch.json
*.mobileprovision
*.xdke
